.landingPage{
    height: 50vh;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "left-side right-side"
    "content content"
;
}

.leftSide{
    border: 5px solid red;
    grid-area: left-side
}

.rightSide{
    display: grid;
    grid-template-columns: 12fr 1fr;
    border: 5px solid blue;
    grid-area: right-side
}

.topLeftButton{
    height: 10vh;
}

.content{
    height: 50vh;
    grid-area: content;
}
.centerButton{
    display: flex;
    justify-content: center;
    align-self: center;
}